@tailwind base;
@tailwind components;
@tailwind utilities;


/* Text Color Custom */
.text-color-gray1{
    color: #333333;
}
.text-color-blue1{
    color:#0443BE
}


/* Background Color Custom */
.bg-gray1{
    background-color: #333333;
}

.bg-blue1{
    background-color: #0443BE;
}

.bg-menu-color{
    
}
.bg-menu-color:hover{
    background-color: #0443BE;
}

/* Fill Color Custom */
.fill-gray2{
    fill:818181;
}


.h-90{
    height: 90%;
}
