.custom-collapse-panel .ant-collapse-header .ant-collapse-arrow {
    color: #0443BE !important; 
  }

  .response-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }
  
  .response-content {
    margin-left: 10px;
  }
  
  .response-author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .response-text {
    color: #555;
  }