body {
  width: max-width;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.monthCalender {
  max-height: calc(100vh - 70px);
}

.DayBox {
      background: hsla(0,0%,92%,.1);
      transition: all .3s ease-in-out;
}

.custom-select {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
}